uvicorn==0.20.0
SQLAlchemy==1.4.41
alembic==1.9.2
asyncpg==0.27.0
fastapi==0.89.1
fastapi-admin==1.0.4
fastapi-cache2==0.2.0
fastapi-users==10.3.0
fastapi-users-db-sqlalchemy==4.0.4
fastapi_amis_admin==0.4.2
fastapi_user_auth==0.4.2
pydantic==1.10.4
python-dotenv